


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-size: 62.5%;
    background-image: url('./fond.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#image{
    width: 96px;
    height: 92px;
    background: url('./butterfly.png') 0 0 ;
    position: absolute;

    left: 150px;
    top: 250px;

}